body{
  font-size: 18px;
  font-family: verdana;
  background-color:#20103A;
  color: white;
}
.zonetext{
	background-color: #20103A;
	border: 3px solid rgb(106, 52, 195);
	width:80%;
	height: 30px;
	border-radius: 10px;
	color: 	white;

}
.option{
	background-color: #20103A;
	border: 3px solid rgb(106, 52, 195);
	width: 82%;
	height: 35px;
	border-radius: 10px;
	color:white;
}

.textarea{
	width: 98%;
	background-color:#20103A;
	border:3px solid rgb(106, 52, 195);
	border-radius: 15px;
	padding: 10px;
	margin: auto;
	color: 	white;
	font-size: 	1.5rem;
}
.bouton{
	width: 	25%;
	height:40px;
	background-color: #20103A;
	border:3px solid rgb(106, 52, 195);
	color: 	white;
	border-radius: 	15px;
	font-size: 	1rem;
}
.bouton1{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 	12.5%;
	padding-left: 	12.5%;
	background-color: #20103A;
	border:3px solid rgb(106, 52, 195);
	color: 	white;
	border-radius: 	15px;
	text-decoration: none;
	font-size: 	1rem;	 
}
img{
	border-radius: 1000px
}
table{
	width: 100%;
	border:3px solid rgb(106, 52, 195);
 	border-radius: 10px;
 	padding: 10px
 }
option{
	text-align: center ; 
 	color: whitesmoke;
 }
